@media (max-width: 767px) {
	.header{
		grid-template: 1fr minmax(97px, auto) minmax(233px, auto) minmax(124px, auto) 1fr / 1fr minmax(auto, 767px) 1fr;
	&__top {
		grid-area: 1 / 2 / span 1 / span 1;
		display: grid;
		grid-template-columns: minmax(auto,118px) minmax(auto, 916px); 
		position:fixed;
		top:0;
		left: 0;
		padding: 
		
		}
	&__menu{
		display:none;
	}
	/* .header__logo */
	&__logo {
		
		
	}	

	}
}