@charset "UTF-8";

/*Обнуление некоторых стандартных стилей CSS браузера*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Bold.woff") format("woff"), url("../fonts/TitilliumWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Italic.woff") format("woff"), url("../fonts/TitilliumWeb-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Light.woff") format("woff"), url("../fonts/TitilliumWeb-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Regular.woff") format("woff"), url("../fonts/TitilliumWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-SemiBold.woff") format("woff"), url("../fonts/TitilliumWeb-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.services__text,
.team__text,
.skills__text,
.portfolio__text,
.comments__text,
.contact__text {
  font-family: 'TitilliumWeb',sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.title {
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 40px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.title:after {
  content: '';
  display: block;
  width: 87px;
  height: 4px;
  position: relative;
  bottom: -21px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template: minmax(596px, auto) minmax(747px, auto) minmax(914px, auto) minmax(655px, auto) minmax(1423px, auto) minmax(894px, auto) minmax(819px, auto) minmax(112px, auto)/1fr;
      grid-template-areas: "header" "services" "team" "skills" "portfolio" "comments" "contact" "footer";
}

.header {
  background: #87509c;
  grid-area: "header";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(97px, auto) minmax(233px, auto) minmax(124px, auto) 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1034px) 1fr;
      grid-template: 1fr minmax(97px, auto) minmax(233px, auto) minmax(124px, auto) 1fr/1fr minmax(auto, 1034px) 1fr;
  /* .header__logo */
  /* .header__logo-img */
  /* .header__menu */
  /* .header__list */
  /* .header__list-item */
  /* .header__link */
  /* .header__burger */
  /* .header__title */
  /* .header__button */
}

.header__top {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 5px 200px 0;
}

.header__top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #87509c;
  z-index: 2;
}

.header__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 118px) minmax(auto, 916px);
  grid-template-columns: minmax(auto, 118px) minmax(auto, 916px);
  position: relative;
  height: 45px;
}

.header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  z-index: 3;
}

.header__menu {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  position: relative;
  z-index: 2;
}

.header__list-item {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__link {
  padding: 11px 11px;
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 250ms ease 0s;
  -o-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
}

.header__link:hover {
  border-radius: 4px;
  background-color: #643a79;
}

.header__burger {
  display: none;
}

.header__title {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / span 1 / span 1;
  -ms-grid-row-align: center;
      align-self: center;
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 42.2px;
  line-height: 48px;
  font-weight: 700;
  color: #f7f3ea;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.header__button {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 /span 1/span 1;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 293px;
  height: 70px;
  background-color: #eb7d4b;
  font-family: 'TitilliumWeb',sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 0px #c86a40;
          box-shadow: 0 5px 0px #c86a40;
  position: relative;
  top: 0;
  -webkit-transition: all 350ms ease 0s;
  -o-transition: all 350ms ease 0s;
  transition: all 350ms ease 0s;
}

.header__button:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0px #c86a40;
          box-shadow: 0 2px 0px #c86a40;
}

.services {
  background: #17c2a4;
  grid-area: "services";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(173px, auto) minmax(68px, auto) minmax(378px, auto) 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1031px) 1fr;
      grid-template: 1fr minmax(173px, auto) minmax(68px, auto) minmax(378px, auto) 1fr/1fr minmax(auto, 1031px) 1fr;
  /* .services__title */
  /* .services__text */
  /* .services__items */
  /* .services__item */
  /* .services__item-img */
  /* .services__item-name */
  /* .services__item-text */
}

.services__title {
  color: #ffffff;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 /2 / span 1 /span 1;
}

.services__title:after {
  opacity: 0.14;
  background-color: #000000;
}

.services__text {
  color: #ffffff;
  text-align: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 /span 1 /span 1;
}

.services__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
  gap: 91px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 /span 1 / span 1;
}

.services__item {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto 1fr minmax(64px, auto);
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr minmax(64px, auto)/1fr;
}

.services__item:first-child {
  position: relative;
  top: 10px;
}

.services__item-picture {
  position: relative;
  padding: 0 0 90% 0;
  margin: 0 0 60px 0;
}

.services__item-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.services__item-name {
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin: 0 0 27px 0;
}

.services__item-text {
  font-family: 'TitilliumWeb',sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.team {
  background: #e7f1f8;
  grid-area: "team";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(171px, auto) minmax(45px, auto) minmax(568px, auto) 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1029px) 1fr;
      grid-template: 1fr minmax(171px, auto) minmax(45px, auto) minmax(568px, auto) 1fr/1fr minmax(auto, 1029px) 1fr;
  /* .team__title */
  /* .team__text */
  /* .team__items */
  /* .team__item */
  /* .team__item-photo */
  /* .team__item-img */
  /* .team__item-name */
  /* .team__item-position */
  /* .team__item-text */
  /* .team__item-social */
}

.team__title {
  color: #3c4761;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.team__title:after {
  opacity: 0.74;
  background: #bdd1df;
}

.team__text {
  color: #3c4761;
  text-align: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 /span 1/ span 1;
  margin: 0 0 50px 0;
}

.team__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 75px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / span 1 / span 1;
}

.team__item {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto 1fr minmax(20px, auto) minmax(112px, auto) 1fr;
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr minmax(20px, auto) minmax(112px, auto) 1fr/1fr;
}

.team__item-photo {
  position: relative;
  padding: 0 0 100% 0;
  margin: 0 0 41px 0;
}

.team__item-img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.team__item-name {
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #27283d;
  text-align: center;
  margin: 0 0 15px 0;
}

.team__item-position {
  font-family: 'TitilliumWeb',sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #30bae7;
  text-align: center;
  margin: 0 0 26px 0;
}

.team__item-text {
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #3c4761;
  text-align: center;
  margin: 0 0 31px 0;
}

.team__item-social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.social {
  display: -ms-grid;
  display: grid;
  grid-template: 1fr/repeat(auto-fit, 32px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  /* .social__item */
  /* .social__item-img */
}

.social__item {
  width: 32px;
  height: 32px;
  background-color: #bdd1df;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 300ms ease 0s;
  -o-transition: background-color 300ms ease 0s;
  transition: background-color 300ms ease 0s;
}

.social__item:hover {
  background-color: #30bae7;
}

.skills {
  background: #ffffff;
  grid-area: "skills";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(167px, auto) minmax(35px, auto) minmax(294px, auto) 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1000px) 1fr;
      grid-template: 1fr minmax(167px, auto) minmax(35px, auto) minmax(294px, auto) 1fr/1fr minmax(auto, 1000px) 1fr;
  /* .skills__title */
  /* .skills__text */
  /* .skills__items */
  /* .skills__item */
  /* .skills__bar */
  /* .skills__bar_web */
  /* .skills__bar_htmlcss */
  /* .skills__bar_graphic */
  /* .skills__bar_uiux */
  /* .skills__bar-line */
  /* .skills__bar-line_web */
  /* .skills__bar-line_htmlcss */
  /* .skills__bar-line_graphic */
  /* .skills__bar-line_uiux */
  /* .skills__bar-body */
  /* .skills__bar-value */
  /* .skills__bar-value-percent */
  /* .skills__item-name */
}

.skills__title {
  color: #3c4761;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.skills__title:after {
  background-color: #dfe8ed;
}

.skills__text {
  color: #3c4761;
  text-align: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  margin: 0 0 84px 0;
}

.skills__items {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
  gap: 80px;
}

.skills__item {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

.skills__bar {
  margin: 0 auto 32px;
  border-radius: 50%;
  background: #dfe8ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  width: 160px;
  height: 160px;
}

.skills__bar-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dfe8ed;
}

.skills__bar-line_web:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #30bae7;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(324deg);
      -ms-transform: rotate(324deg);
          transform: rotate(324deg);
}

.skills__bar-line_web:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #30bae7;
}

.skills__bar-line_htmlcss:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #d74680;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.skills__bar-line_htmlcss:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #d74680;
}

.skills__bar-line_graphic:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #15c7a8;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(252deg);
      -ms-transform: rotate(252deg);
          transform: rotate(252deg);
}

.skills__bar-line_graphic:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #15c7a8;
}

.skills__bar-line_uiux:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #eb7d4b;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(306deg);
      -ms-transform: rotate(306deg);
          transform: rotate(306deg);
}

.skills__bar-line_uiux:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #eb7d4b;
}

.skills__bar-body {
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.skills__bar-value {
  font-size: 45px;
  font-family: 'TitilliumWeb', sans-serif;
  letter-spacing: 0.02em;
  font-weight: 300;
  color: #3c4761;
}

.skills__bar-value-percent {
  font-size: 28px;
}

.skills__item-name {
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #3c4761;
  text-align: center;
}

.portfolio {
  background: #ffdd99;
  grid-area: "portfolio";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(170px, auto) minmax(68px, auto) minmax(905px, auto) minmax(153px, auto) 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1102px) 1fr;
      grid-template: 1fr minmax(170px, auto) minmax(68px, auto) minmax(905px, auto) minmax(153px, auto) 1fr/1fr minmax(auto, 1102px) 1fr;
  /* .portfolio__title */
  /* .portfolio__text */
  /* .portfolio__content */
  /* .portfolio__tabs */
  /* .portfolio__tabs-items */
  /* .portfolio__tabs-item */
  /* .portfolio__tabs-body */
  /* .portfolio__tabs-block */
  /* .portfolio__tabs-block-item */
  /* .portfolio__tabs-block-item-picture */
  /* .portfolio__tabs-block-item-img */
  /* .portfolio__tabs-block-item-name */
  /* .portfolio__button */
}

.portfolio__title {
  color: #393939;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.portfolio__title:after {
  background: #e5c37f;
}

.portfolio__text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  color: #393939;
  text-align: center;
  margin: 0 0 42px 0;
}

.portfolio__content {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  max-width: 1102px;
  margin: 0 auto;
}

.portfolio__tabs-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 62px 0;
}

.portfolio__tabs-item {
  margin-right: 10px;
  border-radius: 4px;
  width: 84px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.07);
  font-family: 'TitilliumWeb',sans-serif;
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #393939;
  text-decoration: none;
}

.portfolio__tabs-item:last-child {
  margin-right: 0;
}

.portfolio__tabs-item:hover {
  background: #fff;
}

.portfolio__tabs-block {
  display: none;
}

.portfolio__tabs-block:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__tabs-block-item {
  margin: 0 10px 64px 0;
}

.portfolio__tabs-block-item-picture {
  margin: 0 0 32px 0;
}

.portfolio__tabs-block-item-name {
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #393939;
  text-align: center;
}

.portfolio__button {
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 293px;
  height: 70px;
  background-color: #17c2a4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 0;
  -webkit-transition: all 250ms ease 0s;
  -o-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 0px #14a58c;
          box-shadow: 0 5px 0px #14a58c;
}

.portfolio__button:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0px #14a58c;
          box-shadow: 0 2px 0px #14a58c;
}

.comments {
  background: #d74680;
  grid-area: "comments";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(173px, auto) minmax(38px, auto) minmax(551px, auto) 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1100px) 1fr;
      grid-template: 1fr minmax(173px, auto) minmax(38px, auto) minmax(551px, auto) 1fr/1fr minmax(auto, 1100px) 1fr;
  /* .comments__title */
  /* .comments__text */
  /* .comments__items */
  /* .comments__item */
  /* .comments__item-picture */
  /* .comments__item-img */
  /* .comments__item-text */
  /* .comments__item-quote */
  /* .comments__item-name */
  /* .comments__item-position */
}

.comments__title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  color: #ffffff;
}

.comments__title:after {
  opacity: 0.14;
  background-color: #000000;
}

.comments__text {
  color: #ffffff;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  text-align: center;
}

.comments__items {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(494px, 1fr));
  gap: 128px 96px;
}

.comments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments__item-picture {
  width: 96px;
  height: 96px;
  margin: 0 48px 0 0;
}

.comments__item-img {
  border-radius: 50%;
}

.comments__item-text {
  padding: 11px 0 0 0;
}

.comments__item-quote {
  font-family: 'TitilliumWeb',sans-serif;
  font-size: 21px;
  line-height: 31px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 28px 0;
}

.comments__item-name {
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 9px 0;
}

.comments__item-position {
  font-family: 'TitilliumWeb',sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffdd99;
}

.contact {
  background: #3c5499;
  grid-area: "contact";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(174px, auto) minmax(42px, auto) minmax(488px, auto) 1fr;
  -ms-grid-columns: 1fr minmax(auto, 860px) 1fr;
      grid-template: 1fr minmax(174px, auto) minmax(42px, auto) minmax(488px, auto) 1fr/1fr minmax(auto, 860px) 1fr;
  /* .contact__title */
  /* .contact__text */
  /* .contact__form */
  /* .contact__form-top */
  /* .contact__form-name */
  /* .contact__form-input */
  /* .contact__form-placeholder */
  /* .contact__form-star */
  /* .contact__form-email */
  /* .contact__form-bottom */
  /* .contact__form-textarea */
  /* .contact__form-btn */
}

.contact__title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  color: #ffffff;
}

.contact__title:after {
  background-color: #273a71;
}

.contact__text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  color: #ffffff;
  text-align: center;
}

.contact__form {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  -ms-grid-row-align: center;
      align-self: center;
}

.contact__form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 27px 0;
}

.contact__form-name {
  position: relative;
}

.contact__form-input {
  width: 414px;
  height: 56px;
  border-radius: 4px;
  background-color: #273a71;
  font-family: 'TitilliumWeb',sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  padding: 0 0 0 25px;
}

.contact__form-input:focus ~ .contact__form-placeholder,
.contact__form-input:valid ~ .contact__form-placeholder {
  display: none;
}

.contact__form-placeholder {
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  top: 20px;
  left: 25px;
}

.contact__form-star {
  font-family: Arial;
  font-size: 16px;
  color: #ff4444;
}

.contact__form-email {
  position: relative;
}

.contact__form-bottom {
  position: relative;
  margin: 0 0 59px 0;
}

.contact__form-textarea {
  padding: 20px 0 0 25px;
  width: 100%;
  height: 200px;
  background-color: #273a71;
  border-radius: 4px;
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.contact__form-textarea:focus ~ .contact__form-placeholder,
.contact__form-textarea:valid ~ .contact__form-placeholder {
  display: none;
}

.contact__form-btn {
  width: 293px;
  height: 70px;
  background-color: #30bae7;
  border-radius: 4px;
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  -webkit-box-shadow: 0 4px 0px #299ec5;
          box-shadow: 0 4px 0px #299ec5;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  position: relative;
  top: 0;
}

.contact__form-btn:hover {
  -webkit-box-shadow: 0 1px 0px #299ec5;
          box-shadow: 0 1px 0px #299ec5;
  top: 3px;
}

.footer {
  background: #344b8e;
  grid-area: "footer";
  /* .footer__social */
  /* .footer__social-link */
}

.footer__social {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-link {
  margin-right: 57px;
  font-family: 'TitilliumWeb', sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer__social-link:hover {
  color: #30bae7;
}

.footer__social-link:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .header {
    -ms-grid-rows: 1fr minmax(97px, auto) minmax(233px, auto) minmax(124px, auto) 1fr;
    -ms-grid-columns: 1fr minmax(auto, 767px) 1fr;
        grid-template: 1fr minmax(97px, auto) minmax(233px, auto) minmax(124px, auto) 1fr/1fr minmax(auto, 767px) 1fr;
    /* .header__logo */
    /* .header__burger */
  }

  .header__top {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 1px 100px 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #d84848;
    padding: 60px 75px 0 0;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }

  .header__list {
    grid-auto-flow: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .header__burger {
    -ms-grid-column-align: end;
        justify-self: end;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    z-index: 3;
  }

  .header__burger-line {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }

  .header__burger .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__link {
    font-size: 24px;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active .header__burger-line {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu.active {
    top: 0;
  }

  body.lock {
    overflow: hidden;
  }
}